@page
@model CarRent.Web.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Odjava";
}

<section class="panel auth-panel">
    <h1>Odjava</h1>
    <form method="post">
        <button type="submit" class="btn btn-primary">Odjavi se</button>
    </form>
</section>
