@model PartnerFormVm
@{ ViewData["Title"] = "Novi partner"; }
<section class="panel"><h1>Novi partner</h1><partial name="_PartnerFormPartial" /></section>
@section Scripts { <partial name="_ValidationScriptsPartial" /> }
