@model PartnerFormVm
@{ ViewData["Title"] = "Uredi partnera"; }
<section class="panel"><h1>Uredi partnera</h1><partial name="_PartnerFormPartial" /></section>
@section Scripts { <partial name="_ValidationScriptsPartial" /> }
